
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/BrowserMetrics/BrowserMetrics-635B3128-60C8.pma
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/BrowserMetrics/BrowserMetrics-635B314D-51E0.pma
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/BrowserMetrics/BrowserMetrics-635B31A4-25D0.pma
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/BrowserMetrics/BrowserMetrics-635B3232-1EE0.pma
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Crashpad/metadata
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Crashpad/settings.dat
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Crashpad/throttle_store.dat
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/CrashpadMetrics-active.pma
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/AutofillStrikeDatabase/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/BudgetDatabase/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/BudgetDatabase/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/BudgetDatabase/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Code Cache/js/index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Code Cache/js/index-dir/the-real-index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Code Cache/wasm/index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Code Cache/wasm/index-dir/the-real-index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/commerce_subscription_db/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/commerce_subscription_db/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/commerce_subscription_db/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/DawnCache/data_0
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/DawnCache/data_1
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/DawnCache/data_2
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/DawnCache/data_3
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/DawnCache/index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension Scripts/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension Scripts/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension Scripts/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension Scripts/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension Scripts/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension State/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension State/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension State/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension State/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension State/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Extension State/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/ExtensionActivityComp
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/ExtensionActivityComp-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/ExtensionActivityEdge
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/ExtensionActivityEdge-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Favicons
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Favicons-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Feature Engagement Tracker/EventDB/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/GPUCache/data_0
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/GPUCache/data_1
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/GPUCache/data_2
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/GPUCache/data_3
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/GPUCache/index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/heavy_ad_intervention_opt_out.db
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/heavy_ad_intervention_opt_out.db-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/History
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/History-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Local Storage/leveldb/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Local Storage/leveldb/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Local Storage/leveldb/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Local Storage/leveldb/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Local Storage/leveldb/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Local Storage/leveldb/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Login Data
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Login Data-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Network Action Predictor
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Network Action Predictor-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Network/Cookies
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Network/Cookies-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Network/Network Persistent State
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Network/NetworkDataMigrated
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/optimization_guide_hint_cache_store/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/optimization_guide_hint_cache_store/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/optimization_guide_hint_cache_store/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/optimization_guide_model_metadata_store/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/optimization_guide_model_metadata_store/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/optimization_guide_model_metadata_store/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Preferences
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/PreferredApps
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/README
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Safe Browsing Network/NetworkDataMigrated
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Safe Browsing Network/Safe Browsing Cookies
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Safe Browsing Network/Safe Browsing Cookies-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Secure Preferences
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SegmentInfoDB/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SegmentInfoDB/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SegmentInfoDB/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SignalDB/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SignalDB/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SignalDB/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SignalStorageConfigDB/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SignalStorageConfigDB/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Segmentation Platform/SignalStorageConfigDB/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Session Storage/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Session Storage/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Session Storage/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Session Storage/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Session Storage/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Session Storage/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/shared_proto_db/metadata/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Site Characteristics Database/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Site Characteristics Database/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Site Characteristics Database/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Site Characteristics Database/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Site Characteristics Database/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Site Characteristics Database/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/000003.log
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/CURRENT
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/LOCK
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/LOG
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/LOG.old
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Sync Data/LevelDB/MANIFEST-000001
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Top Sites
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Top Sites-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Visited Links
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Web Data
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Default/Web Data-journal
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/GrShaderCache/data_0
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/GrShaderCache/data_1
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/GrShaderCache/data_2
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/GrShaderCache/data_3
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/GrShaderCache/index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Last Version
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Local State
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/ShaderCache/data_0
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/ShaderCache/data_1
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/ShaderCache/data_2
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/ShaderCache/data_3
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/ShaderCache/index
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/customSettings
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/customSettings_F95BA787499AB4FA9EFFF472CE383A14
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/customSynchronousLookupUris
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/customSynchronousLookupUris_0
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/edgeSettings
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/edgeSettings_2.0-7ea560d3f5773bd0a6091794418408e68e480da4e3b762e4dbee9bbc12d1c1fe
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/synchronousLookupUris
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/synchronousLookupUris_638029409351340581
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/topTraffic
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/SmartScreen/RemoteData/topTraffic_638004170464094982
Software/Source Code/TBP Launcher/TBP Dashboard/bin/Release/TBP Dashboard.exe.WebView2/EBWebView/Variations
Software/Source Code/TBP Launcher/TBP Dashboard/Properties/discord.Designer.cs
Software/Source Code/TBP Launcher/TBP Dashboard/Properties/discord.settings
