<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TBP_World_Saver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TBP_World_Saver.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="WorldZipName" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value />
            </setting>
        </TBP_World_Saver.Properties.Settings>
    </userSettings>
</configuration>